body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253, 253, 240);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 50px; /* Робимо кнопку овальною */
  cursor: pointer;
  background: #009621;
  background-size: 200% 200%; /* Збільшуємо фон для анімації */

  /* Плавність анімації */
  transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.btn:hover {
  background-position: 100% 0;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px #006b17;
}

.ul {
  list-style: none; /* Прибирає крапки */
  padding: 0;
  margin: 0;
  width: 100%;
}

.todoItem {
  background-color: white;
  padding: 15px 30px;
  margin: 0 auto;
  margin-bottom: 10px; /* Відступ між задачами */
  border-radius: 12px; /* Закруглені кути */

  /* Flexbox - щоб текст був зліва, а кнопка справа */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-left: 5px solid #006b17; 
}
.btnMore{
    border: none;
    margin-top: 10px;
    /* display: flex; */
    align-items: end;
    background-color: transparent;
    padding: 10px 30px;
    cursor: pointer;
}
/* /////////////////////////////////////////////////
 */

 .divForDeleteCatagor{
    display: flex;
    gap: 4px;
 }
.btnDelete{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.conDoneAllINProcess{
    margin-bottom: 30px;
}
.btnDoneAllInProcess{
    padding: 10px 30px;
    border-radius: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(48, 48, 250);
    color: azure;
    border: none;
    transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.btnDoneAllInProcess:hover{
background-position: 100% 0;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgb(48, 48, 250);
}

